apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: grafana-app          # You can change this to whatever name you want
  namespace: argocd          # ArgoCD namespace
spec:
  project: default
  source:
    repoURL: https://github.com/sanjayapphelix/grafana-argocd.git
    path: .
    targetRevision: HEAD
    helm:
      valueFiles:
        - values.yaml
  destination:
    server: https://kubernetes.default.svc
    namespace: default
  syncPolicy:
    automated:
      enabled: true
    syncOptions:
      - CreateNamespace=true

